.card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card_box {
  background-color: #722f37;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  color: #b3b8cd;
  text-align: center;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.75fr 1/2fr;
}

.image img {
  width: 100%;
  height: 90%;
}

.card_info {
  line-height: 1;
  padding: 0 1.5rem;
}
.total {
  background-color: #adff2f;
  padding: 0.5rem;
  border-radius: 2rem;
  font-weight: 900;
  letter-spacing: 1;
  color: black;
  text-transform: uppercase;
}

.card_vote p {
  font-size: 1.5rem;
}

.card_button {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.card_button button {
  background-color: #9a02ac;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}

@media screen and (max-width: 35em) {
  .card {
    grid-template-columns: 1fr;
  }
}
