.navbar {
  width: 100%;
  height: 5.5rem;
  background-color: linear-gradient(
    to right top,
    #000000,
    #07070a,
    #0e0e15,
    #151520,
    #1c1c2b
  );
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  margin-bottom: 2rem;
}

.title {
  cursor: pointer;
}
.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.nav_list h1 {
  color: #fffff0;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0px;
  margin: 0px 30px;
  transition: all 0.5 ease;
}
.nav_list h1:hover {
  color: #228b22;
}
.nav_list p {
  color: #228b22;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0px;
  margin: 0px 30px;
  transition: all 0.5 ease;
}

.navbar_box {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  transition: all 0.4s ease;
}
.connect {
  padding: 0.5rem 2rem;
  cursor: pointer;
  position: relative;
}

.navigation {
  position: absolute;
  background-color: #9a02ac;
  padding: 1rem;
  width: 15rem;
  left: 0;
  top: 3rem;
  border-radius: 0.2rem;
  z-index: 1111111;
}

.connect button {
  background-color: #00cc66;
  height: 5vh;
  width: 12.5vw;
  border-radius: 0.2rem;
  font-size: 1rem;
  color: #fff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  font-weight: 600;
  cursor: pointer;
}

.connect_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connect span {
  font-size: 2rem;
  margin-left: 1rem;
}
.hameburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  transition: all 0.4s ease;
}

.message__box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 3rem;
  background-color: #9a02ac;
  position: absolute;
  z-index: 1111111;
  border-radius: 1rem;
  font-size: 2rem;
}
.message_cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 1px dotted #9a02ac;
  padding: 0.5rem 1rem;
  color: #9a02ac;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: #9a02ac;
  color: #231e39;
}

@media screen and (max-width: 1090px) {
  .hameburger {
    display: block;
  }
}
@media screen and (max-width: 35em) {
  .navbar {
    width: 100%;
    height: 6rem;
  }
  .message__box {
    width: 80%;
    font-size: 1.3rem;
    padding: 2rem 1rem;
    top: 55%;
  }
  .nav_list {
    display: none;
  }
}
